body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
.container-box{
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
   
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
header{
    background-color: #fff;
    padding: 2rem;
    border-bottom: 1px solid #ccc;
}
header{
    justify-content: center;
    align-items: center;
    
    margin: 0;
    background-image: url("./Hero-bg.png");
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;

}
header.profile-img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}
header h1{
    margin: 1rem,0;
    font-size: 1.5 rem;
    color: #333;
}
header p{
    font-size: 16px;
    color: #555;
}
header button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
    cursor: pointer;
}

.why-web-development {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);

}

.why-web-development h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.why-web-development p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.right_side{
    width: 65%;
    height: auto;
    
    float: right;
    padding: 20px 30px;
    margin-left: 30px;

}
.left_side{
    width: 30%;
    height: auto;
    
    
    float: left;

}

.card img {
    max-width: 100px;
    margin-left: 1rem;
    border-radius: 5px;
}

.card-content {
    flex: 1;
    text-align: left;
   
    align-items: center; 
    
}

.card-content h3 {
    margin: 0 ;
    font-size: 1.2rem;
    align-items: start;
}

.card-content p {
    font-size: 1rem;
    margin: 0.5rem 0;
    align-items: start;
}

.card-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color:white;
    
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.card-content button:hover {
    background-color: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 810px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
}

.text-content {
    flex: 1;
    margin-right: 20px;
    text-align: center;
    
}

.video-content {
    
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

iframe {
    max-width: 50%;
    height: auto;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.id-3{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container-e {
    text-align: center;
}

.cards-e {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    gap: 20px;
    margin-top: 20px;
}

.card-e {
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    text-align: left;
}

.cards-e h2 {
    margin-top: 0;
    color: black;
}

.cards-e p {
    color: #666;
}

.btn{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: none;
}


    
.container-c{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.card-contain{
    
    flex-direction: column;

    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-contain img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
     border-radius: 8px;

}
.card-container-1{
    flex: 1;
    
}
.card-container-1 h3{
    margin-top: 0;
    font-size: 18px;
    color: #333;
}
.card-container-1 p{
    margin-bottom: 0;
    color: #666;
    
}
.id-2{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-f{
    width: 80%;
    max-width: 800px;
    background-color: #fff;
   
   
    border-radius: 10px;
    text-align: center;
}
.cards-f{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.cards-f:last-child{
    margin-bottom: 24px;
}
.icon{
    flex: 1;
    text-align: center;
}
.icon img{
    max-width: 50px;
}
.content-f{
    flex: 4;
    text-align: left;
    padding-left: 20px;
}
.content-f h2{
    margin-bottom: 10px;
}
.content-f p{
    color: #333;
}

.background-div{
    width: 1140px;
    height: 315px;
    margin: 80px 0px 30px 0px;
    background-image: url("./handshake.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}
.background-div h3{
    font-size: x-large;
}

.container-d{
    text-align: center;
    
    
    padding: 20px;

}


input[type="text"] {
   
    font-size: small;
   
    
}
.container-d button{
    padding: 5px 5px;
    font-size: small;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
.container-d button:hover { 
    background-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.id-1{
    flex: 1;
    padding: 0 0;
}


.footer {
    background-color: bisque;
    color: black;
    padding: 10px 4px;
    
   
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 14px;
}

.footer-icons a {
    margin-left: 10px;
}

.footer-icons img {
    width: 24px;
    height: 24px;
}

